.calcado{
	background: green;
	width: 250px;
	height: 260px;
	margin: 10px;
	float: left;
	text-align: center;
}

.info{

	font-weight: bold;

}

#conteiner{
	margin-left: 75px;
}

#rodape{
	clear: left;
	background-color: grey;
	text-align: center;
	width: 900px;
	margin: auto;

}

img{
	width: 150px;
	height: 150px;
	padding-top: 20px;
}

